#id01{

    color: rgb(241, 167, 7);

}

.color1{

    color: rgb(92, 175, 13);

    font-size: 110%;

}

.color2{

    color: rgb(87, 3, 184);

}

#id1{

    color: rgb(35, 57, 255);

    font-size: 125%

}

#id2{

    color: rgb(131, 94, 233);

    font-size: 150%

}

#id3{

    color: mediumseagreen;

    font-size: 125%

}

#id4{

    color: rgb(231, 255, 11);

    font-size: 150%

}

#id5{

    color: rgb(235, 11, 255);

    font-size:130%

}

#id6{

    color: rgb(11, 255, 105);

    font-size:130%

}

@media screen and (max-width: 600px) {
    .post-item{
    width: 30%;
}
}

@media screen and (max-width: 900px) {
    .post-item{
    width: 30%;
}
}
